<div class="event-list pull-left">
  <% @events.each do |date, events| %>
    <section class="event-listings">
     <time><%= date.strftime("%A, %b %d %Y") %></time>

     <% events.each do |event| %>
       <div class="event-listing">
         <time>
           <%= link_to event.time.strftime("%I:%m %p"),
           group_event_url(event.group, event) %>
         </time>

         <header>
           <%= link_to event.group.title,
               group_url(event.group) %>
         </header>

         <main>
           <%= link_to event.title,
               group_event_url(event.group, event.id) %>
         </main>

         <footer>
           <%= event.attendees.count %>
           <%= "Member".pluralize(event.attendees.count) %> attending
         </footer>
       </div>
     <% end %>

   </section>
 <% end %>
</div>

<div class="datepicker pull-right"></div>