<% date = "" %>

<% events.each do |event| %>

  <% next if date == event.date %>
  <% date = event.date %>
  <% events_on_date = events.select { |event| event.date == date } %>


  <ul>
  <%= date.strftime("%A, %b %d") %>
  <% events_on_date.each do |event_on_date| %>
    <li>
      <%= link_to event_on_date.time.strftime("%I:%m %p"),
          group_event_url(event_on_date.group, event_on_date) %>

      <%= link_to event_on_date.group.title,
          group_url(event_on_date.group) %>

      <%= link_to event_on_date.title,
          group_event_url(event_on_date.group, event_on_date.id) %>

      <%= event_on_date.attendees.count %>
      <%= "Member".pluralize(event_on_date.attendees.count) %> attending
    </li>
  <% end %>

  </ul>
<% end %>