<ul class="group-column pull-left">
  <li><%= image_tag group.avatar.url(:big) %></li>
  <li class="column-location">
    <div class="pull-left">
      <%= city_state(group) %>
    </div>
    <div class="pull-left">
      Founded <%= group.created_at.strftime("%B %d, %Y") %>
    </div>
  </li>

  <li>Members <%= members.count %></li>
  <li>Upcoming Meetups <%= upcoming_events.count %></li>
  <li>Past Meetups <%= past_events.count %></li>

  <li>
    Organizers: <%= group.owner.name %>
    <%= link_to (image_tag group.owner.avatar.url(:small), size: "40x40"),
                group_member_url(group, group.owner.find_group_member(group)),
                class: "owner-avatar" %>

    <% if group.owner == current_user %>
      <%= link_to "Create Event", new_group_event_url(group) %>
    <% end %>
  </li>
</ul>