<ul class="group-column pull-left span3">
  <li><%= image_tag group.avatar.url(:big) %></li>
  <li>
    <%= city_state(group) %>
    Founded <%= group.created_at.strftime("%B %d, %Y") %>
  </li>

  <li>Members <%= members.count %></li>
  <li>Upcoming Meetups <%= upcoming_events.count %></li>
  <li>Past Meetups <%= past_events.count %></li>
  <li>Our calendar</li> <!-- add a calendar here -->

  <li>
    Organizers: <%= group.owner.name %>
    <%= image_tag group.owner.avatar.url(:small), size: "40x40" %>
    <%= link_to "Contact", group.owner.email %>

    <% if group.owner == current_user %>
      <%= link_to "Create Event", new_group_event_url(group) %>
    <% end %>
  </li>
</ul>