<div class="new-user-title-bar">
  <%= image_tag "new_group_bar.jpg", class: :new_group_title_bar_pic %>
</div>

<%= form_for @group do |f| %>
  <h1>Create a Meetup Group!</h1>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <br>

  <h4>Address</h4>
  <br>
  <%= fields_for :address do |address_form| %>
    <%= address_form.label :address_line %>
    <%= address_form.text_field :address_line %>
    <br>

    <%= address_form.label :city %>
    <%= address_form.text_field :city %>
    <br>

    <%= address_form.label :state %>
    <%= address_form.text_field :state %>
    <br>

    <%= address_form.label :zip_code %>
    <%= address_form.text_field :zip_code %>
    <br>
    <br>
  <% end %>

  <h4>Invite users to your group!</h4>
  <div class="invitees">
    <input type="hidden" name="invitees[]">
    <% @invitees.each do |invitee| %>
      <% next if invitee == current_user %>
      <div class="invitee">
        <label for="invitee_<%= invitee.id %>"><%= image_tag invitee.avatar.url %><%= invitee.email %></label>
        <input
          type="checkbox"
          name="invitees[]"
          value="<%= invitee.id %>"
          id="invitee_<%= invitee.id %>">
      </div>

    <% end %>
  </div>
  <br>

  <%= f.label :avatar %>
  <%= f.file_field :avatar %>
  <br>
  <br>

  <%= f.submit "Create", class: "btn-block" %>
<% end %>