<h1>Create a Dumb Meetup Group!</h1>

<%= form_for @group do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <br>

  <%= f.label :address %>
  <br>
  <%= fields_for :address do |address_form| %>
    <%= address_form.label :address_line %>
    <%= address_form.text_field :address_line %>
    <br>

    <%= address_form.label :city %>
    <%= address_form.text_field :city %>
    <br>

    <%= address_form.label :state %>
    <%= address_form.text_field :state %>
    <br>

    <%= address_form.label :zip_code %>
    <%= address_form.text_field :zip_code %>
    <br>
    <br>
  <% end %>

  <%= f.label :avatar %>
  <%= f.file_field :avatar %>
  <br>
  <br>

  <%= f.submit "Create" %>
<% end %>