
  <%= render partial: "group_bar", locals: { group: @group, members: @members } %>

  <div class="group-content">
    <%= render partial: 'group_column', locals: {
                                          group: @group,
                                          members: @members,
                                          upcoming_events: @upcoming_events,
                                          past_events: @past_events
                                          }
    %>
    <div class="group-middle pull-left">
      <div class="event-header">
        <li><h2><%= @group.description %></h2></li>

        <% unless logged_in? && @members.find_by_user_id(current_user.id) %>

          <li>
            <% @member_short_list.each do |member| %>
              <%= (image_tag member.avatar_url, size: "40x40") %>
            <% end %>

            <%= link_to "Join us!", join_group_url(@group) %>
          </li>

        <% end %>
      </div>

      <div class="events">

        <ul class="upcoming-events pull-left">
          <h2> Upcoming Meetups</h2>

          <% @upcoming_short_list.each do |event| %>
            <li class="pull-left">
              <!-- left side -->
              <h3><%= link_to event.title, group_event_url(@group, event) %></h3>

              <div class="event-left pull-left">
                <!-- this is where a link to the site location will go -->
                <ul>
                  <li>
                    <%= full_address(event) %>
                    <%= link_to "(map)", google_map(event) %>
                  </li>


                  <li>
                    <% event.attendees.limit(10).each do |attendee| %>
                      <!-- This eventually needs to be changed to link to the group member, not the user -->
                      <%= link_to (image_tag attendee.avatar_url, size: "30x30"), group_member_url(@group, attendee) %>
                    <% end %>
                  </li>

                  <li><%= event.description %></li>
                  <li><%= link_to "LEARN MORE", group_event_url(@group, event) %></li>
                </ul>
              </div>

              <!-- right side -->
              <div class="event-right pull-right">
                <%= event.date.strftime("%a %b %d") %>
                <%= event.time.strftime("%I:%m %p") %>
                <%= link_to "RSVP", group_event_url(@group, event) %>
                <%= event.attendees.count %> attending
                <!-- comments count will go here -->
              </div>
            </li>
          <% end %>

          <% if @upcoming_events.count > @upcoming_short_list.count %>
            <%= link_to "MORE MEETUPS", group_events_url(@group) %>
          <% end %>
        </ul>

        <ul class="past-events pull-left">
          <h2> Recent Meetups </h2>

          <% @past_short_list.each do |event| %>
            <li class="pull-left">
              <!-- left side -->
              <%= time_since(event.date) %>

              <h3><%= link_to event.title, group_event_url(@group, event) %></h3>

              <% event.attendees.limit(10).each do |attendee| %>
                <%= (image_tag attendee.avatar.url(:small), size: "30x30") %>
              <% end %>
              <%= event.attendees.count %> attendees

              <%= event.description %>
              <%= link_to "LEARN MORE", group_event_url(@group, event) %>
            </li>
          <% end %>

          <% if @upcoming_events.count > @upcoming_short_list.count %>
            <%= link_to "SEE ALL PAST MEETUPS", past_group_events_url(@group) %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="whats_new pull-left">
      <h4>What's New</h4>

      <% @recent_activity.each do |activity| %>
        <%= activity %>
      <% end %>
    </div>
  </div>
