<div class="group_bar">
  <%= @group.title %>

  <%= link_to "Home", group_url(@group) %>
  <%= link_to "Members", members_group_url(@group) %>

  <% unless logged_in? && @members.include?(current_user) %>
    <%= link_to "Join us!", join_group_url(@group) %>
  <% else %>
    <%= image_tag current_user.avatar.url(:small) %>
    <%= link_to "My profile", account_url %>
  <% end %>
</div>

<div class="group_column">
  <%= @group.avatar.url(:big) %>
  <%= city_state(@group) %>
  Founded <%= @group.created_at.strftime("%B %d, %Y") %>

  Members <%= @members.count %>
  Upcoming Meetups <%= @upcoming_events.count %>
  Past Meetups <%= @past_events.count %>
  Our calendar <!-- add a calendar here -->

  Organizers: <%= @group.owner.name %>
  <%= image_tag @group.owner.avatar.url(:small), size: "40x40" %>
  <%= link_to "Contact", @group.owner.email %>
</div>

<div class="events">
  <%= @group.description %>

  <% unless logged_in? && @members.include?(current_user) %>

    <% @member_short_list.each do |member| %>
      <%= (image_tag member.avatar.url(:small), size: "40x40") %>
    <% end %>

    <%= link_to "Join us!", join_group_url(@group) %>
  <% end %>
</div>