<div class="new-user-title-bar">
  <%= image_tag "new_user_bar.jpg", class: :new_user_title_bar_pic %>
</div>

<%= simple_form_for @user, html: { class: 'form-inline new_user' } do |f| %>
  <h1>Create a new user!</h1>

  <%= f.input :name %>
  <%= f.input :email %>
  <br>

  <h4>Address</h4>

  <%= simple_fields_for :address do |address_form| %>
    <%= address_form.input :address_line %>

    <%= address_form.input :city %>

    <%= address_form.input :state %>

    <%= address_form.input :zip_code %>
  <% end %>
  <br>

  <%= f.input :password %>

  <%= f.input :avatar, as: :file %>
  <br>
  <br>

  <div class="new-auths">
    <p class="pull-left"><strong>Select one additional service for login (optional):</strong></p>

    <div class="auths pull-left">
      <a href="/auth/twitter" class="auth_provider pull-left">
        <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
        Twitter
      </a>
      <a href="/auth/facebook" class="auth_provider pull-left">
        <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
        Facebook
      </a>
      <a href="/auth/linkedin" class="auth_provider pull-left">
        <%= image_tag "linkedin_64.png", :size => "64x64", :alt => "Facebook" %>
        LinkedIn
      </a>
    </div>
  </div>

  <%= f.submit "Create", class: "btn btn-primary btn-large pull-right submit" %>
<% end %>