<div class="new-user-title-bar">
  <%= image_tag "new_user_bar.jpg", class: :new_user_title_bar_pic %>
</div>

<%= simple_form_for @user, html: { class: 'form-inline new_user' } do |f| %>
  <h1>Create a new user!</h1>

  <%= f.input :name %>
  <%= f.input :email %>
  <br>

  <h4>Address</h4>

  <%= simple_fields_for :address do |address_form| %>
    <%= address_form.input :address_line %>

    <%= address_form.input :city %>

    <%= address_form.input :state %>

    <%= address_form.input :zip_code %>
  <% end %>
  <br>

  <%= f.input :password %>

  <%= f.input :avatar, as: :file %>

  <%= f.submit "Create", class: "btn-block" %>
<% end %>