<div class="user-page">
  <h1 class="pull-left"><%= @user.name %></h1>

  <div class="general pull-left">
    <table class="general-info pull-left">
      <thead>
        <th>Location:</th>
        <th>Meetup member since:</th>
      </thead>

      <tbody>
        <tr>
          <td><%= city_state(@user) %></td>
          <td><%= @user.created_at.strftime("%B %d, %Y") %></td>
        </tr>
      </tbody>
    </table>

    <%= image_tag @user.avatar.url(:big) %>

    <% if logged_in? && @user == current_user %>
      <%= photo_change(@user) %>
    <% end %>
  </div>

  <div class="find-groups meetups pull-left">
    <h3>Member of <%= @user.group_members.count %> Meetups</h3>
    <ul class="thumbnails">
      <% @groups.each do |group| %>
        <li>
          <div class="thumbnail">
            <%= link_to (image_tag group.avatar.url), group_url(group) %>
            <%= link_to group.title, group_url(group) %>
          </div>
        </li>
      <% end %>
    </ul>

    <%= link_to "SEE ALL MY MEETUP GROUPS", user_groups_url(@user) %>
  </div>

  <div class="interests pull-left">
    <h3>Interests</h3>
    <ul>
    <% @interests.each do |interest| %>
    <!-- Will need to create some sort of link here, save for later -->
      <li><%= interest.title %></li>
    <% end %>
    </ul>
  </div>

  <div class="comments pull-left">
    <h3>Greetings</h3>

    <% if logged_in? && current_user != @user %>
      <form
        action="<%= comment_user_url(@user) %>"
        method="post"
        class="new-post"
        data-remote="true">

        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">

        <div class="post-box-container">
          <label for="body"></label>
          <textarea
            name="comment[body]"
            placeholder="Post a greeting for <%= @user.name %>"
            id="body"
            rows="2"
            class="post-box"></textarea>

          <input type="submit" value="Post" class="btn pull-right">
        </div>

      </form>
    <% end %>

    <section class="posts">
      <%= render partial: "roots/comment", collection: @comments %>
    </section>
  </div>

</div>