<%= @user.name %>

Location:
<%= city_state(@user) %>

Meetup member since:
<%= @user.created_at.strftime("%B %d, %Y") %>

<%= image_tag @user.avatar.url(:big) %>

<% if logged_in? && @user == current_user %>
  <%= photo_change(@user) %>
<% end %>

<br>
<br>

Member of <%= @user.groups.count %> Meetups
<ul>
<% @groups.each do |group| %>
<!-- Create group page -->
  <li><%= link_to group.title, group_url(group) %></li>
<% end %>
</ul>

<!-- Create user's groups page -->
<%= link_to "SEE ALL MY MEETUP GROUPS", user_groups_url(@user) %>
<br>
<br>

Interests
<ul>
<% @interests.each do |interest| %>
<!-- Will need to create some sort of link here, save for later -->
  <li><%= interest.title %></li>
<% end %>
</ul>