<div class="new-event-title-bar">
  <%= image_tag "new_event_bar.jpg", class: :new_event_title_bar_pic %>
</div>

<h1 class="new-event-header">Create a New Event!</h1>

<%= simple_form_for [@group, @event], class: "form-inline new_event pull-left" do |f| %>

  <h4>Event Info</h4>
  <%= f.input :title %>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.input :time, discard_day: true,
                     discard_year: true,
                     discard_month: true
                     %>

  <%= f.input :description, as: :text %>

  <h4>Address</h4>

  <%= simple_fields_for :address do |address_form| %>
    <%= address_form.input :address_line %>

    <%= address_form.input :city %>

    <%= address_form.input :state %>

    <%= address_form.input :zip_code %>
  <% end %>

  <%= f.label :avatar %>
  <%= f.file_field :avatar %>
  <br>
  <br>

  <%= f.submit "Create New Event!", class: "btn-block" %>
<% end %>