<%= render partial: "groups/group_bar", locals: { group: @group, members: @members } %>

<%= render partial: "groups/group_column", locals: {
                                      group: @group,
                                      members: @members,
                                      upcoming_events: @upcoming_events,
                                      past_events: @past_events
                                      }
%>

<div class="events">
  <h2><%= @event.title %></h2>

  <% unless logged_in? && @members.include?(current_user) %>

    <% @member_short_list.each do |member| %>
      <%= (image_tag member.avatar.url(:small), size: "40x40") %>
    <% end %>

    <%= link_to "Join us!", join_group_url(@group) %>
  <% end %>

  <!-- upcoming events -->
  <ul>
    <% @upcoming_short_list.each do |event| %>
      <li>
        <!-- left side -->
        <%= link_to event.title, group_event_url(@group, event) %>
        <%= link_to event.location, group_event_url(@group, event) %>
        <%= full_address(event) %>
        <!-- map link will go here -->

        <% event.attendees.limit(10).each do |attendee| %>
          <%= (image_tag attendee.avatar.url(:small), size: "30x30") %>
        <% end %>

        <%= event.description %>
        <%= link_to "LEARN MORE", group_event_url(@group, event) %>

        <!-- right side -->
        <%= event.date.strftime("%a %b %d") %>
        <%= event.date.to_s(:time) %>
        <%= link_to "RSVP", group_event_url(@group, event) %>
        <%= event.attendees.count %> attending
        <!-- comments count will go here -->
      </li>
    <% end %>

    <%= link_to "MORE MEETUPS", group_events_url(@group) %>
  </ul>
</div>