<div class="group-page">
  <%= render partial: "groups/group_bar", locals: { group: @group, members: @members } %>

  <div class="event-content">
    <%= render partial: "groups/group_column", locals: {
                                          group: @group,
                                          members: @members,
                                          upcoming_events: @upcoming_events,
                                          past_events: @past_events
                                          }
    %>

    <div class="events pull-left">
      <div class="events-middle-column pull-left">
        <h2><%= @event.title %></h2>

        <time>
          <%= @event.date.strftime("%A, %B %d, %Y") %>
          <%= @event.time.strftime("%I:%m %p") %>
        </time>


        <address>
          <%= @event.addresses.first.address_line %>
          <%= city_state(@event) %>
          <%= link_to "(map)", google_map(@event) %>
        </address>




        <p><%= @event.description %></p>

        <div class="comments pull-left">
          <h3>Comments</h3>

          <% if logged_in? && @event.attendees.include?(@member) %>
            <form
              action="<%= comment_group_event_url(@group, @event) %>"
              method="post"
              class="event-new-post"
              data-remote="true">

              <input
                type="hidden"
                name="authenticity_token"
                value="<%= form_authenticity_token %>">

              <div class="post-box-container">
                <label for="body"></label>
                <textarea
                  name="comment[body]"
                  placeholder='Post a comment for "<%= @event.title %>"'
                  id="body"
                  rows="2"
                  class="post-box"></textarea>

                <input type="submit" value="Post" class="btn pull-right">
              </div>

            </form>
          <% end %>

          <section class="posts">
            <%= render partial: "roots/comment", collection: @comments %>
          </section>
        </div>

      </div>

      <div class="events-right-column pull-left">
        <% if logged_in? && @member && !@event.attendees.include?(@member) %>

            <h3>Won't you attend?</h3>
            <%= button_to "ATTEND", event_signup_group_event_url(@group, @event) %>
        <% end %>

        <div class="attendee-count"><%= @event.attendees.count %> attending</div>

        <% @event.attendees.each do |attendee| %>
          <div class="attendee pull-left">
            <%= link_to (image_tag attendee.avatar_url, size: "40x40"),
                         group_member_url(@event.group, attendee
                         )
            %>

            <%= link_to attendee.name, group_member_url(@event.group, attendee) %>

            <!-- Maybe add something for a group member to write a description -->
            <%#= attendee.description %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>