<div class="navbar">
  <div class="navbar-inner">
    <div class="nav-left pull-left">
      <%= link_to (image_tag "MeetUp-logo.png", class: "logo brand"), root_url %>

      <%= link_to (image_tag "find_meetup.png"), find_url, class: "find-link" %>
      <%= link_to (image_tag "start_meetup.png"), new_group_url, class: "start-link" %>
    </div>

    <div class="nav-right pull-right">
      <ul class="nav pull-right">
        <% if logged_in? %>
          <li class="user"><%= current_user.name %></li>

          <li>
            <div class="dropdown nav-right-dropdown">
              <a
                class="dropdown-toggle"
                data-toggle="dropdown"
                href="#">My Groups</a>
              <ul class="dropdown-menu nav-menu" role="menu" aria-labelledby="dLabel">
                <% current_user.groups.limit(10).each do |group| %>
                  <li><%= link_to group.title, group_url(group) %></li>
                <% end %>
                  <li>
                    <%= link_to "SEE ALL GROUPS",
                        user_groups_url(current_user),
                        class: "full-list-groups"%>
                  </li>
              </ul>
            </div>
          </li>

          <li>
            <div class="dropdown nav-right-dropdown">
              <a
                class="dropdown-toggle"
                data-toggle="dropdown"
                href="#">Account</a>
              <ul class="dropdown-menu nav-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "General", account_url %></li>
                <li>
                  <a href="/account/notifications">
                    Notifications <strong
                    class="badge"><%= current_user.notifications.count %></strong>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li><%= button_to "Logout", session_url, method: :delete, class: "logout btn btn-danger" %></li>

        <% else %>
          <li>
            <div class="logged-out">
              <ul>
                <li><a href="#myModal"
                       role="button"
                       class="pull-right"
                       data-toggle="modal">Log in</a></li>

                <!-- <li><%#= link_to "Log in", new_session_url %></li> -->
                <li><%= link_to "Sign up", new_user_url, class: "pull-right"%></li>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>

      <% if session[:token] %>
        <form class="nav-form2 pull-right" action="<%= find_url %>" method="GET">
          <input
            type="text"
            name="query"
            value="<%= params[:query] %>"
            placeholder="Search">
        </form>
      <% else %>
        <form class="nav-form pull-right" action="<%= find_url %>" method="GET">
          <input
            type="text"
            name="query"
            value="<%= params[:query] %>"
            placeholder="Search">
        </form>
      <% end %>
    </div>
  </div>
</div>