<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#"><%= image_tag "MeetUp-logo.png", class: :logo %></a>

    <ul class="nav pull-left nav-left">
      <li><%= link_to "Find Meetup", find_url %></li>
      <li><%= link_to "Start Meetup", new_group_url %></li>
    </ul>

    <ul class="nav pull-right nav-right">
      <% if logged_in? %>
        <li><%= current_user.name %></li>
        <li><%= link_to "My Groups", user_url(current_user) %></li>
        <li><%= link_to "Account", account_url %></li>
        <li><%= button_to "logout", session_url, method: :delete, class: "logout btn" %></li>

      <% else %>
        <li><%= link_to "Log in", new_session_url %></li>
        <li><%= link_to "Sign up", new_user_url %></li>
      <% end %>

      <input class="span4" type="text" name="search" placeholder="Search">
    </ul>

  </div>
</div>