<!DOCTYPE html>
<html>
<head>
  <title>MeetupClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- Need to add Backbone stuff to get this to work -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navbar" %>
<br>

<div class="main-content">
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

  <%= flash[:notice] %>

  <%= yield %>
</div>

</body>
</html>
