<!DOCTYPE html>
<html>
<head>
  <title>MeetupClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navbar" %>
<br>

<div class="main-content">

  <%= yield :head %>

  <% flash.each do |name, msg| %>
    <% break if name == :modal %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg %>
    </div>
  <% end %>

  <%= render partial: "layouts/modal" %>

  <%= yield %>
</div>

</body>
</html>
