<div class="account">
  <h1 >Change your password</h1>

  <%= simple_form_for @user, url: update_password_account_url do |f| %>

    <p><strong>Enter your old password</strong></p>
    <%= f.input :password, as: :string %>

    <p><strong>Enter a new password</strong></p>
    <%= f.input :new_password, as: :password %>

    <p><strong>Please confirm new password</strong></p>
    <%= f.input :password_confirmation, as: :password %>

    <%= f.submit "Change Password" %>
  <% end %>

</div>