<div class="account">
  <h1 class="password-header">Change your password</h1>

  <%= simple_form_for @user,
      url: update_password_account_url,
      html: { class: 'form-horizontal account-password' } do |f| %>

    <%= f.input :password, label: 'Old Password' %>

    <%= f.input :new_password, as: :password, label: 'New Password' %>

    <%= f.input :password_confirmation, as: :password, label: 'Confirm Password' %>
    <br>

    <%= f.submit "Change Password", class: "btn btn-large btn-primary pull-right submit" %>
  <% end %>

</div>