<div class="account">
  <h1 class="edit-header">Update your Account</h1>

  <div class="general pull-left">
    <h2>General</h2>

    <%= simple_form_for @user, url: account_url, html: { class: "account-edit" } do |f| %>
      <table class="general-info pull-left">
        <tr>
          <td><%= f.label :name %></td>
          <td><%= f.input :name, value: @user.name, label: false %></td>
        </tr>

        <tr>
          <td><%= f.label :email %></td>
          <td><%= f.input :email, value: @user.email, label: false %></td>

        <!-- Needs to be edited to actually change something -->
        <tr>
          <td>Password:</td>
          <td>(Hidden) <%=link_to "Change Password", change_password_account_url %></td>
        </tr>

        <!-- Needs to be edited to actually change something -->
        <tr>
          <td>Location:</td>
          <td><%= city_state(@user) %> <%=link_to "Change Location", change_address_account_url %></td>

        <tr>
          <td><%= f.label :birthday %></td>
          <td><%= f.input :birthday,
                          as: :date,
                          value: @user.birthday,
                          label: false,
                          order: [:month, :day, :year],
                          start_year: (Date.today.year - 90)
                          %>
          </td>
        </tr>

      </table>

      <div class="avatar">
        <%= image_tag @user.avatar.url(:big), size: "200x200" %>
        <%= f.file_field :avatar %>
      </div>

        <%= f.submit "Update Account", class: "btn btn-large btn-primary pull-right update" %>
      <% end %>

    </div>

    <!-- Implement later
    <div class="interests pull-left">
      Your interests

      <ul>

      <% @user.interests.each do |interest| %>
        <li><%= interest.title %></li>
      <% end %>

      </ul>
    </div> -->
</div>