Hi <%= @user.name %>! Welcome to your account page!

<div class="general">
  General

  Name: <%= @user.name %>
  Email address: <%= @user.email %>
  Password: (Hidden)

  Location: <%= city(@user) %>, <%= state(@user) %>
  Birthday: <%= birthday(@user) %>

  <%= image_tag @user.avatar.url(:big) %>
</div>

<div class="interests">
  Your interests

  <ul>

  <% @user.interests.each do |interest| %>
    <li><%= interest %></li>
  <% end %>

  </ul>
</div>

<%= link_to "Edit Account", edit_account_url %>