<div class="account">
  <h1 ><%= @user.name %>'s Account Page</h1>

  <div class="general pull-left">
    <h2>General</h2>

    <table class="general-info pull-left">
      <tr>
        <td>Name:</td>
        <td><%= @user.name %></td>
      </tr>

      <tr>
        <td>Email address:</td>
        <td><%= @user.email %></td>

      <tr>
        <td>Password:</td>
        <td>(Hidden)</td>
      </tr>

      <tr>
        <td>Location:</td>
        <td><%= city_state(@user) %></td>

      <tr>
        <td>Birthday:</td>
        <td><%= birthday(@user).strftime("%B %d, %Y") %></td>
      </tr>

    </table>

    <div class="avatar">
      <%= image_tag @user.avatar.url(:big), size: "200x200" %>
      <%= photo_change(@user) %>
    </div>
  </div>

  <div class="interests pull-left">
    Your interests

    <ul>

    <% @user.interests.each do |interest| %>
      <li><%= interest.title %></li>
    <% end %>

    </ul>
  </div>

  <%= link_to "Edit Account", edit_account_url, class: "btn edit" %>
</div>